.section-container {
  padding: rem-calc(60 0);
}

.section-title-1 {
  h1 {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 40%;
      bottom: rem-calc(-20);
      left: 0;
      height: rem-calc(5);
      background-color: $primary-color;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 10%;
      bottom: rem-calc(-20);
      left: 40%;
      height: rem-calc(5);
      background-color: $black;
    }
  }

  span {
    font-weight: 700;
    color: $primary-color;
  }

  @media #{$large-up} {
    h1 {
      font-size: rem-calc(52);
      line-height: 1;
    }
  }
}

.section-title-2 {
  color: $white;
  font-weight: 800;
  position: relative;

  &.black {
    color: $black;
  }
}

.section-title-3 {
  h3 {
    color: $white;
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: rem-calc(-10);
      background-color: darken($primary-color, 5%);
      height: rem-calc(2);
      width: 50%;
    }
  }

  &.page-header {
    h3 {
      color: $primary-color;
    }
  }
}

.contact-form {
  color: $white;

  label {
    display: inline-block;
    padding-bottom: rem-calc(10);
    text-transform: uppercase;
    color: $light-gray;
    width: 100%;
  }
}

.contact-map {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
  }

  @media #{$small-only} {
    position: relative;
    width: 100%;
    height: rem-calc(200);
  }
}

// ABOUT
.about-slide {
  background-color: $primary-color;
  z-index: 0;

  figure {
    width: 100%;
    height: 100%;
  }
}

.about-figures {
  right: 0;
  top: 0;
  width: 40%;
  background-color: $primary-color;

  @media #{$large-up} {
    border-left: 15px solid $primary-color;
  }
}

.about-mask {
  top: 0;
  left: 0;
  background-color: rgba($black, .2);
  z-index: 1;
}

// PRODUCTS
#home-products {
  background-color: $black;
  background-image: url(../img/bg-products.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: rem-calc(110);

  .grid-container {
    z-index: 9;
  }

  ul.tabs {
    background: transparent;
    border: none;

    li {
      text-transform: uppercase;
      border-bottom: 2px solid $white;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear;

      &.is-active {
        border-color: $primary-color;
      }
    }
  }
}

.list-products {
  a {
    position: relative;
  }

  .cell {
    &:hover {
      .square {
        &::before {
          border-color: rgba($primary-color, 1);
          -webkit-transform: translateY(-50%) scale(1.05);
          -moz-transform: translateY(-50%) scale(1.05);
          -ms-transform: translateY(-50%) scale(1.05);
          -o-transform: translateY(-50%) scale(1.05);
          transform: translateY(-50%) scale(1.05);
        }
      }
    }
  }

  img {
    position: relative;
    z-index: 1;
  }

  a {
    color: $white;
    font-weight: 700;
  }

  h3 {
    @extend .margin-top-1;
  }

  &.list-products-page {
    a {
      color: $black;
    }
  }

  @include breakpoint(large up) {
    h3 {
      font-size: rem-calc(24);
    }
  }
}

.bg-pattern {
  bottom: 0;
  left: 0;
  background-image: url(../img/pattern.png);
  background-position: left bottom;
  background-repeat: repeat-x;
  height: rem-calc(110);
  z-index: 91;
}

.products-mask {
  z-index: 0;
  top: 0;
  left: 0;
  background-color: rgba($black, .7);
}

.square {
  position: absolute;
  text-align: center;
  z-index: 0;
  top: 0;
  left: 0;

  &::before {
    content: '';
    display: inline-block;
    width: 50%;
    @include vertical-center;
    left: 25%;
    height: rem-calc(110);
    border: 4px solid rgba($primary-color, .6);
    z-index: 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
}

// SERVICES
#home-services {
  background-color: #f7f7f7;
  border-bottom: 1px solid $light-gray;
}

.list-services {
  figure {
    font-size: rem-calc(48);
    color: $primary-color;
    margin-bottom: rem-calc(30);
  }
  span {
    width: rem-calc(120);
    height: rem-calc(120);
    border-radius: 50%;
    border: 10px solid $light-gray;
    line-height: rem-calc(100);
  }
  h3 {
    font-weight: 700;
    font-size: rem-calc(20);
    color: $primary-color;
  }
}

// NEWS
.news-figure {
  border: 2px solid $light-gray;
  height: rem-calc(110);
  width: 100%;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  &:hover {
    border-color: $primary-color;
  }
}

.news-txt {
  h4 {
    font-family: 'Poppins', san-serif;
    line-height: 1;
  }
  a {
    color: $black;
    &:hover {
      color: $primary-color;
    }
  }
  p {
    color: $dark-gray;
    font-size: rem-calc(13);
  }
}

// CONTACT
#home-contact {
  background-color: $primary-color;
}

.contact-form {
  input, textarea {
    margin-top: rem-calc(6);
  }
}

// Footer
#footer {
  padding: rem-calc(30 0);
  background-color: $black;
  background-image: url(../img/bg-footer.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  color: $light-gray;

  a {
    color: $light-gray;
  }

  p {
    font-size: rem-calc(14);
  }

  i {
    display: inline-block;
    margin-right: rem-calc(10);
    
    &.align-top {
      vertical-align: top;
      -webkit-transform: translateY(rem-calc(5));
      -moz-transform: translateY(rem-calc(5));
      -ms-transform: translateY(rem-calc(5));
      -o-transform: translateY(rem-calc(5));
      transform: translateY(rem-calc(5));
    }
  }
}

.logo-fotoer {

  span {
    font-size: rem-calc(24);
    font-family: 'Poppins', san-serif;
    font-weight: 600;
  }

  img {
    width: rem-calc(30);
    -webkit-transform: translateY(rem-calc(2));
    -moz-transform: translateY(rem-calc(2));
    -ms-transform: translateY(rem-calc(2));
    -o-transform: translateY(rem-calc(2));
    transform: translateY(rem-calc(2));
  }
}

.back-top {
  position: fixed;
  bottom: rem-calc(20);
  right: rem-calc(20);
  z-index: 998;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0;

  &.show {
    opacity: 1;
  }

  a {
    width: rem-calc(50);
    height: rem-calc(50);
    border-radius: 50%;
    background-color: $black;
    line-height: rem-calc(50);
    text-align: center;
    color: $white;
    display: block;
  }
}

// PAGE BODY
#page-body {
  min-height: rem-calc(600);
  padding-top: rem-calc(100);

  @include breakpoint(large up) {
    min-height: rem-calc(800);
    padding-top: rem-calc(120);
  }
}

.page-header {
  img {
    width: rem-calc(60);
  }

  select {
    color: $black;
    border: 1px solid $light-gray;

    &:focus {
      background-color: $white;
    }
  }

  @include breakpoint(medium up) {
    img {
      width: rem-calc(80);
    }
  }
}