.vh {
  visibility: hidden;
}
.opacity-0 {
  opacity: 0;
}

.z-index-1 {
  z-index: 1;
}

.bgcover {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.button.glass {
  background-color: transparent;
  border: 1px solid $white;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }

  &.bl-hover {
    &:hover {
      border-color: $black;
      color: $black;
    }
  }
}

.font-san-serif {
  font-family: 'Poppins', san-serif !important;
}

.top-3 {
  top: rem-calc(3);
}

.input-normal {
  background-color: $white;
  color: $black;
  border: 1px solid $light-gray;

  &::placeholder {
    color: $light-gray;
  }

  &:focus {
    background-color: $white;
    color: $black;
  }
}

.white {
  color: $white !important;
}

.light-gray {
  color: $light-gray !important;
}

.medium-gray {
  color: $medium-gray;
}

.btn-black {
  background-color: #333333;
}
.wpcf7-submit {
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.logo-fotoer {
  line-height: 23px;
}
.store-list span {
  display: block;
  font-size: 12px;
}
.see-more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-color {
  color: $primary-color;
}