.search-product {
  border-top: 1px solid $light-gray;
}

#product-title {
  @include separator(center, 1px, 25%, darken($primary-color, 5%), rem-calc(6));
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.accessories-form, .single-form {
  select, input, select:focus, input:focus {
    background-color: $white;
    color: $dark-gray;
    border: 1px solid $light-gray;
  }
}

.product-colors {
  .tabs {
    border-bottom: 1px solid $light-gray;
  }
  .tabs-title {
    border: 1px solid $light-gray;
    border-bottom: none;
    &:not(:first-child) {
      border-left: none;
    }
  }

  a {
    font-size: rem-calc(14);
    color: $dark-gray;
    &:hover, &:focus {
      color: $primary-color;
    }
  }
}

.single-form {
  header {
    border-bottom: 1px dotted $light-gray;
  }
}

.product-espec {
  span {
    font-size: rem-calc(12);
    color: $dark-gray;
  }

  li {
    margin-bottom: rem-calc(10);
  }
}