#home-header {
  @media screen and (max-height: rem-calc(420)) {
    min-height: rem-calc(800) !important;
  }

  @media #{$xxlarge-up} {
    min-height: 100%;
  }
}

#home-slideshow {
  z-index: 99;

  @media #{$large-up} {
    padding-top: rem-calc(50);
  }
}

.slide-content {
  @media #{$small-only} {
    margin-top: rem-calc(40);
    padding-bottom: rem-calc(40);
  }

  @media #{$medium-only} {
    padding-bottom: rem-calc(40);
    .slide-container {
      margin-top: rem-calc(100);
    }
  }

  @media #{$large-up} {
    .slide-container {
      max-height: rem-calc(700);

      li {
        width: 100%;
      }
    }
    .slide-image {
      width: auto;
      max-width: rem-calc(800);
    }
  }
}

.slide-image {
  @media #{$large-up} {
    -webkit-transform: translateY(rem-calc(-100)) translateX(rem-calc(-100));
    -moz-transform: translateY(rem-calc(-100)) translateX(rem-calc(-100));
    -ms-transform: translateY(rem-calc(-100)) translateX(rem-calc(-100));
    -o-transform: translateY(rem-calc(-100)) translateX(rem-calc(-100));
    transform: translateY(rem-calc(-100)) translateX(rem-calc(-100));
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;

    &.show {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(rem-calc(-100)) translateX(rem-calc(0));
      -moz-transform: translateY(rem-calc(-100)) translateX(rem-calc(0));
      -ms-transform: translateY(rem-calc(-100)) translateX(rem-calc(0));
      -o-transform: translateY(rem-calc(-100)) translateX(rem-calc(0));
      transform: translateY(rem-calc(-100)) translateX(rem-calc(0));
    }
  }

  @media #{$medium-only} {
    -webkit-transform: translateX(rem-calc(-100));
    -moz-transform: translateX(rem-calc(-100));
    -ms-transform: translateX(rem-calc(-100));
    -o-transform: translateX(rem-calc(-100));
    transform: translateX(rem-calc(-100));
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;

    &.show {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateX(rem-calc(0));
      -moz-transform: translateX(rem-calc(0));
      -ms-transform: translateX(rem-calc(0));
      -o-transform: translateX(rem-calc(0));
      transform: translateX(rem-calc(0));
    }
  }

  @media #{$small-only} {
    -webkit-transform: translateX(rem-calc(-100));
    -moz-transform: translateX(rem-calc(-100));
    -ms-transform: translateX(rem-calc(-100));
    -o-transform: translateX(rem-calc(-100));
    transform: translateX(rem-calc(-100));
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;

    &.show {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateX(rem-calc(0));
      -moz-transform: translateX(rem-calc(0));
      -ms-transform: translateX(rem-calc(0));
      -o-transform: translateX(rem-calc(0));
      transform: translateX(rem-calc(0));
    }
  }
}

.slide-controls {
  @include vertical-center;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: rem-calc(0 16);

  a {
    font-size: rem-calc(32);
    color: $white;

    &:hover {
      color: $primary-color;
    }

    &:last-child {
      float: right;
    }
  }
}

.slide-text {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translateY(rem-calc(30));
  -moz-transform: translateY(rem-calc(30));
  -ms-transform: translateY(rem-calc(30));
  -o-transform: translateY(rem-calc(30));
  transform: translateY(rem-calc(30));
  opacity: 0;
  visibility: hidden;

  &.show {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  h2 {
    color: $white;
    font-weight: 900;
  }
  h4 {
    color: $white;
    font-family: 'Poppins', sans-serif;
  }

  @media #{$large-up} {
    h2 {
      font-size: rem-calc(72);
    }
  }
}

.slide-pager {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 99;
  padding-bottom: rem-calc(30);

  span {
    display: inline-block;
    width: rem-calc(40);
    height: rem-calc(5);
    background-color: $white;
    cursor: pointer;
    margin: rem-calc(0 5);

    &.cycle-pager-active {
      background-color: $primary-color;
    }
  }

  @media #{$small-only} {
    span {
      width: rem-calc(30);
    }
  }
}

//.slide-img {
//  position: absolute;
//  bottom: 0;
//  right: 0;
//
//}