$loading_width: rem-calc(300);
$loading_height: rem-calc(192);

.preloadContent {
  width: 100%;
  text-align: center;
  @include vertical-center;
  left: 0;
}

#jpreOverlay {
  background-color: #fafafa;
  overflow: hidden;
}

#jpreSlide {
  display: none;
}

#jpreBar {
  background-image: url(../img/loadin-color.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

#jpreLoader {
  width: $loading_width;
  height: $loading_height;
  display: inline-block;
  background-image: url(../img/loadin-bw.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

#jprePercentage {
  text-align: center;
  padding-top: rem-calc(20);
  font-family: 'Arvo', serif;
  font-weight: 900;
  font-size: rem-calc(18);
}