<div class="reveal" id="modelForm" data-reveal data-close-on-click="true" data-animation-in="scale-in-up" data-animation-out="scale-out-down">
    <h3 id="product-title" class="width-100 text-center margin-bottom-1 font-bold"></h3>

    <form id="myhonda" class="margin-top-1" data-abide novalidate action="https://test.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 medium-6 cell">
                    <label>Nome:
                        <input type="text" id="first_name" name="first_name" maxlength="40" pattern="alpha" required>
                    </label>
                    <label class="form-error" data-form-error-for="first_name">O nome é obrigatório!</label>
                </div>
                <div class="small-12 medium-6 cell">
                    <label>Sobrenome:
                        <input type="text" maxlength="80" id="last_name" name="last_name" pattern="alpha" required>
                    </label>
                    <label class="form-error" data-form-error-for="last_name">O sobrenome é obrigatório!</label>
                </div>
                <div class="small-12 cell">
                    <label>CPF:
                        <input type="text" maxlength="11" id="cpf__c" name="cpf__c" pattern="cpf" required>
                    </label>
                    <label class="form-error" data-form-error-for="cpf__c">CPF inválido</label>
                </div>

                <div class="small-12 cell">
                    <label>Concessionária de interesse:
                        <select  id="dealer_code_interest__c" name="dealer_code_interest__c">
                            <option value="1010646">Cavalcanti Cajazeiras</option>
                            <option value="1020641">Cavalcanti Itaporanga</option>
                        </select>
                    </label>
                    <label class="form-error" data-form-error-for="dealer_code_interest__c">Informe a concessionária.</label>
                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <fieldset class="cell large-6">
                    <button class="button" type="submit" value="Submit">Enviar</button>
                </fieldset>
                <fieldset class="cell large-6">
                    <button class="button" type="reset" value="Reset">Reset</button>
                </fieldset>
            </div>
        </div>

        <input type="hidden" id="model_interest__c" name="model_interest__c" value="">
        <input type=hidden name="oid" value="00D3B000000DKWV">
        <input type=hidden name="retURL" value="http://www.honda.com.br/Paginas/default.aspx">
        <input type="hidden" name="debug" value=1>
        <input type="hidden" name="debugEmail" value="joaotdn@gmail.com">
    </form>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>