<div id="home-slideshow" class="grid-container position-relative">
    <div class="grid-x grid-padding-x">
        <div class="slide cell small-12">
            <div class="slide-desc">
                <h1>CG 125i Cargo</h1>
                <p>Uma máquina de trabalhar</p>
                <p><a href="#" class="button">Tenho interesse</a></p>
            </div>

            <figure class="slide-img position-absolute">
                <img src="{{root}}assets/img/slide1.png" alt="">
            </figure>
        </div>
    </div>
</div>

<nav class="nav-slide width-100">
    <a href="#" class="next-slide">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a href="#" class="prev-slide">
        <i class="fas fa-chevron-right"></i>
    </a>
</nav>