<div class="menu-offcanvas height-100">
    <button class="close-button" type="button" data-toggle-menu>
        <span aria-hidden="true">&times;</span>
    </button>

    <ul class="menu vertical margin-top-2 main-menu-off">
        <li><a href="#empresa">Sobre</a></li>
        <li><a href="#motocicletas">Motocicletas</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#noticias">Novidades</a></li>
        <li><a href="#contato">Contato</a></li>
    </ul>
</div>
<a href="#" data-toggle-menu class="close-menu width-100 height-100"></a>